<!DOCTYPE html>
<html lang="ko">
    <head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <div class="user">
                    <a class="btn btn-primary" href="/logout">로그아웃</a>
                </div>
            </div>
        </nav>
    </body>
</html>