<!DOCTYPE html>
<html lang="ko">
    <head>
    <body>
        <h1>hello</h1>
        <h1><%= one %></h1>
        <h1><%= address %></h1>
        <h1><%= orderlist %></h1>
        <a class="btn btn-primary" href="/logout">로그아웃</a>
        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <div class="user">
                </div>
            </div>
        </nav>
        <!-- Call to Action-->
        <section class="call-to-action text-white text-center" id="signup">
            <div class="container position-relative">
                <div class="row justify-content-center">
                </div>
            </div>
        </section>
    </body>
</html>