<!DOCTYPE html>
<html lang="en">
    <body>
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <div class="user">
                    <a class="btn btn-primary" href="/register">회원가입</a>
                </div>
            </div>
        </nav>
        <div class="container px-5 my-5">
            <h2>로그인</h2>
            <form action="/login" method="post" id="contactForm" data-sb-form-api-token="API_TOKEN">
                <div class="form-floating mb-3">
                    <input class="form-control" name="ID" id="ID" type="text" required minlength='1' maxlength='20' placeholder="ID" data-sb-validations="required" />
                    <label for="ID">아이디</label>
                    <div class="invalid-feedback" data-sb-feedback="id:required">아이디를 입력하세요.</div>
                </div>
                <div class="form-floating mb-3">
                    <input class="form-control" name="password" id="password" required minlength='1' maxlength='20' type="password" placeholder="password" data-sb-validations="required" />
                    <label for="password">비밀번호</label>
                    <div class="invalid-feedback" data-sb-feedback="password:required">비밀번호를 입력하세요.</div>
                </div>
                <div class="d-grid">
                    <button class="ajaxsend btn btn-primary btn-lg" id="submitButton" type="submit">로그인</button>
                </div>
                <section class="messages" style="color:crimson;"> <%= message %> </section>
            </form>
        </div>
    </body>
</html>